streamlit
pandas

fastapi
uvicorn
requests

langchain
langchain-core
langchain-community
langchain-text-splitters

chromadb
sentence-transformers
huggingface-hub

pypdf
python-dotenv
typing_extensions
numpy
